body {
  /* I changed this... */
  background: #f8f8f8;
	/* background:#ededed; */
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  /* color: #1C2331; */
  color: red;
}

.btn.btn-sm.indigo:hover{
  /* color: #fff; */
  color: red;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}


/* Here goes nothing */
/* .welcome {
  text-align: center;
  color: black;
  background-image: url("./client/public/Watertown-Sunset.JPG");
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color:#121233;
} */